# Go
/bin/
/dist/
/vendor/
*.out
coverage.txt
coverage.html
go.work
.env

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# IntelliJ IDEA / GoLand
.idea/
*.iml
out/

# General
*.db
*.sqlite
.DS_Store

# Node.js / npm
node_modules/
package-lock.json
.pnp
.pnp.js

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache
